<div class="weather-container">
	<div class="weather-header">
		<i class="title-icon icon icon-Clouds-Sun"></i>
		<h1>Local Weather</h1>
	</div>
	<div class="current-weather" add-fade="selected.index">
		<i class="icon icon-{{selected.weather.main}} current-weather-icon">
		</i>
		<div class="temp-container">
			<span class="max-temp">{{selected.main.temp_max}}°</span>
			<span class="min-temp">/{{selected.main.temp_min}}°</span>
		</div>
	</div>
	<ul class="weather-day-list">
		<li ng-repeat="item in items | limitTo : 3" ng-click="selectDay($index)" ng-class="{'selected': $index == selected.index}">
			<div class="bottom-animation">
				<i class="list-icon icon icon-{{item.weather.main}}"></i>
				<span class="list-weather-day">{{item.day}}</span>				
			</div>
		</li>
	</ul>
</div>